<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://drive.usercontent.google.com/download?id=1I1iNxLVAT8EBa8i5eCy6wtMpv9_nFMpP&export=download&authuser=0</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.vcc.lms</string>
        <key>bundle-version</key>
        <string>1.0.2</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>cALS</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
